<!--<div class="card flex justify-content-center">
  <p-calendar [(ngModel)]="date"></p-calendar>
</div>
-->
<p></p>
<div class="table-container">
  <table class="movie-table">
    <tr>
      <td>Título:</td>
      <td>{{ pelicula.titulo }}</td>
    </tr>
    <tr>
      <td></td>
      <td>
        <img
          [src]="pelicula.imagenUrl"
          [alt]="pelicula.titulo"
          style="width: 100%;"
        />
      </td>
    </tr>
  </table>
</div>
<!--
<form (ngSubmit)="reservar()">
  <label for="usuario">Usuario:</label>
  <input
    type="text"
    id="usuario"
    name="usuario"
    [(ngModel)]="usuario"
    required
  />

  <label for="start">Seleccione Fecha:</label>
  <input
    type="date"
    id="start"
    name="fecha"
    [(ngModel)]="fecha"
    min="2023-05-14"
    max="2023-12-31"
  />

  <label for="hora">Seleccione Hora:</label>
  <input
    type="time"
    id="hora"
    name="hora"
    [(ngModel)]="hora"
    min="09:00"
    max="18:00"
    step="3600"
  />

  <button type="submit">Reservar</button>
</form>
-->
